@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

:root {
  --color-white: white;
  --color-lg-gray: rgb(220, 220, 220);
  --color-aqua: #00d8eb;
  --color-darkblue: #0a1d24;
  /*fonts*/
  --font-fm-roboto: "Roboto", sans-serif;
  --font-oswald: "oswald", sans-serif;
  --font-cl-black: black;
}

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: var(--font-fm-roboto);
}

h2 {
  font-size: 1.4rem;
}

hr.hr-home {
  border-top: 3px solid black;
  width: 50px;
  margin: 0 auto;
}
/*Scrollbar*/
::-webkit-scrollbar {
  width: 7px;
  margin-right: 2px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-lg-gray);
  border-radius: 10px;
}
/*End Scrollbar*/

/*Navbar*/
.nav-container {
  display: flex;
  background-color: var(--color-white);
  top: 0;
  position: fixed;
  z-index: 100;
  justify-content: space-around;
  width: calc(100vw - 20px);
  padding: 15px 10px 10px 10px;
  box-shadow: 0 0 10px 1px gray;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: left;
}

.nav-logo img {
  height: 30px;
  width: auto;
}

.nav-logo h1 {
  font-size: 1.2rem;
  margin-left: 10px;
  white-space: nowrap;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: right;
  margin: -15px 0 -10px 10px;
}

.nav-menu li {
  display: flex;
  align-items: center;
  width: 90px;
  list-style-type: none;
  height: 100%;
}

.nav-menu li:hover {
  background-color: rgb(221, 221, 221);
  transition: all 0.5s;
}

.nav-menu li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--font-cl-black);
  padding-top: 5px;
  height: calc(100% - 5px);
  width: 100%;
}

/*End of Navbar*/
/* Section */
section {
  scroll-margin-top: 40px;
  padding: 50px 5px;
}

/*Solution Section*/
section#solution {
  margin-top: 70px;
}

section h2 {
  text-align: center;
  margin: 10px auto;
}

.solution-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.solution-content {
  border-radius: 3% 3% 0% 0%;
  position: relative;
  width: 300px;
  height: 250px;
  align-items: center;
  padding: 30px 20px;
  margin: 10px 10px;
  background-color: var(--bg-color-white);
  box-shadow: 0 0 10px 0.5px var(--color-lg-gray);
}

.solution-content img {
  display: block;
  margin: auto;
  padding-bottom: 5px;
  width: 100px;
  height: auto;
}

.solution-content h3 {
  text-align: center;
  font-size: 1.2rem;
  margin: 5px 0 10px 0;
}

.solution-content figcaption {
  text-align: justify;
}
/* End Solution Section */

/* Product Section */
.product-container {
  display: flex;
  padding: 10px 5px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.product-card,
.empty-product {
  background-color: var(--color-white);
  width: 350px;
  min-height: 250px;
  padding: 30px 20px;
  margin: 10px 10px;
  box-shadow: 0 0 10px 2px var(--color-lg-gray);
  border-radius: 7px;
}

.empty-product {
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 0;
}

.product-card img {
  height: 60px;
  margin-bottom: 10px;
}

.product-card h3 {
  font-family: var(--font-oswald);
}

.pc-subtitle {
  font-family: var(--font-oswald);
  font-size: 0.8rem;
  font-style: italic;
  min-height: 30px;
}

.pc-desc {
  margin: 10px 0;
  height: 90px;
  font-size: 0.9rem;
}

.btn-learn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  border-radius: 3px;
  background-color: var(--color-aqua);
  margin: 10px 5px 10px auto;
  border: none;
  color: white;
  text-decoration: none;
}
/* End Product Section */

/* Teams Section */
.teams-container {
  display: flex;
  padding: 10px 5px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.teams-card,
.empty-teams {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 220px;
  height: 280px;
  align-items: center;
  margin: 10px 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0.5px var(--color-lg-gray);
  background-color: var(--color-white);
  padding: 10px 0px;
}
.empty-teams {
  padding-top: 0;
  padding-bottom: 0;
  height: 0;
  visibility: hidden;
}
.teams-card:hover {
  background-color: var(--color-aqua);
  transition: all 0.5s;
}
.teams-card img {
  width: 95px;
  height: auto;
  margin: 7px auto;
}
.teams-card h3 {
  font-size: 1.1rem;
  width: 200px;
  white-space: nowrap;
}

.teams-card h4 {
  font-size: 1rem;
  height: 40px;
}
.teams-card h3,
.teams-card h4 {
  font-family: var(--font-oswald);
  margin: 5px 15px 0 15px;
  text-align: center;
}
.teams-card figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 0;
  font-weight: 600;
}
.teams-card figcaption a {
  text-decoration: none;
  color: black;
  font-style: italic;
  font-weight: 400;
}
/* End Teams Section */

/* Contact Section */
section#contact {
  background-color: var(--color-darkblue);
  color: var(--color-white);
  padding-top: 30px;
}
.contact-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}
.contact-box {
  width: 40%;
  padding: 30px 25px;
  box-shadow: 0 0 10px 1px black;
  border-radius: 5px;
}
.address-box {
  text-align: justify;
}
.address-box h3 {
  text-align: center;
  margin-bottom: 5px;
}
.address-box p {
  margin: 5px 0;
}
.address-box span {
  display: inline-block;
  width: 150px;
  margin: 5px 0px;
  align-items: center;
}
.address-box a {
  display: inline-flex;
  text-decoration: none;
  color: var(--color-white);
  margin: 3px 15px 3px 0;
}
.address-box svg {
  margin: 0 10px 0 5px;
}
.map-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.map-box iframe {
  width: 95%;
  height: 100%;
  border: none;
  border-radius: 7px;
  box-shadow: 0 0 10px 1px black;
}
.socmed-box {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
}
.socmed-box a,
.empty-socmed {
  display: flex;
  background-color: var(--color-white);
  width: 120px;
  height: 30px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--color-darkblue);
  border-radius: 5px;
  margin: 5px 5px;
}
.empty-socmed {
  visibility: hidden;
  height: 0;
  margin: 0 5px;
}
/* End Contact Section*/

/* Footer */
footer {
  min-height: 50px;
  background-color: var(--color-darkblue);
  padding: 20px 20px 10px 20px;
  box-shadow: 0 -1px 10px 1px black;
}
.footer-container {
  display: flex;
  justify-content: center;
}
.footer-container h5 {
  display: block;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--color-white);
}
/* End Footer */
/* End Section */
@media screen and (max-width: 768px) {
  .nav-logo h1 {
    display: none;
  }
  .nav-menu li {
    width: 80px;
  }

  .solution-container,
  .product-container {
    flex-wrap: wrap;
  }
  .product-card,
  .empty-product {
    width: 300px;
  }
}

@media screen and (max-width: 576px) {
  .nav-logo h1 {
    display: block;
  }

  .nav-menu {
    display: none;
  }

  .solution-container,
  .product-container {
    flex-direction: column;
  }
  .contact-box {
    width: 100%;
  }
  .map-box {
    display: none;
  }
}
